* {
    max-width: 100%;
}

.digital-clock {
    background-color: rgb(82, 130, 224);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.digital-clock-face {
    height: 30vh;
    width: 50vw;
    background-color: azure;
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-evenly;
    font-size: 5vw;
    color: blue;
}

.digital-clock-face p {
    font-size: 2vw;
    text-align: center;
}

.digital-clock-hour,
.digital-clock-minute,
.digital-clock-second {
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.digital-clock-separator {
    font-size: 5vw;
    padding: 0 1vw;
}
