*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
svg{
    height: 5vw;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:20vh;
    padding:5vh;
    background-color: #cac3fb;
}
.tabs>a{
    text-decoration: none;
}
.tabs a:link{
    color: rgb(3, 3, 3);
}
.tabs a:hover{
    color: #2e14f8;
}

.navbar>button{
    height:5vh;
    width:8vw;
    border-radius: 5px;
    background-color: #604bff;
    font-family: Mukta;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: white;
    
}
#button{
    text-decoration: none;
    color: white;
}
.navbar>button:hover{
    background-color:#3c23f9; ;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo>h1{
    font-size:50px;
    color:#2a10ea;
    font-family:Mukta;
}
.options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:30vw;
    height: 4vh;
    font-family:Mukta ;
    font-weight: bold;
    color: rgb(61, 62, 63);
    font-size: large;
}

.hero{
    height:70vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10vh;
    background-color: rgb(255, 255, 255);
}

.hero>img{
    height: 60vh;
    width:30vw;
    border-radius: 25px;
    box-shadow: 10px 10px 20px black;
}
.text{
    height: 60vh;
    width:40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding:5vh;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    animation: slidefromleft 3s ease forwards;
    opacity: 0;
    margin:1vw;
}
@keyframes slidefromleft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
#very{
    font-family: Mukta;
    color:blue;
    font-size: large;
    font-weight: bold;
}
#heading{
    font-size:3vw;
    font-family: Mukta;
    line-height: 5vh;
    font-weight: bolder;
}
#lorem{
    color: #59566e;
    font-family: Mukta;
    font-size: large;
    font-weight: bold;
}
.buts{
    height: 5vh;
    width:6vw;
    margin: 5px;
    font-family: Mukta;
    background-color:  #604bff;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
#but1:hover{
    background-color:#3c23f9; ;
}
#but2{
    background-color: #59566e;
}
#but2:hover{
    background-color: #383642;
}